@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

code, .codeBlockText_cdb578, .codeLine_cdb578, .markup_f8f345 code.inline, .after_inlineCode_cdb578, .before_inlineCode_cdb578, .inlineCode_cdb578 {
  font-family: "Victor Mono", mono, monospace;
}

* {
  --font-primary: "Victor Mono", monospace;
  --font-display: "Victor Mono", monospace;
  --font-headline: "Victor Mono", monospace;
  text-rendering: optimizeLegibility;
}

/* Text Size */

.compact_f9f2ca .headerText_f9f2ca,
.cozy_f9f2ca .headerText_f9f2ca,
.roleDot_f9f2ca,
.username_f9f2ca,
.container_fc4f04,
.container_fc4f04 *,
.name_ec8679,
.headerText_c47fa9,
.searchBar_f0963d .searchBarComponent_f0963d,
.fontSize16Padding_d0696b,
.numberBadge__40d6f,
.labelContainer_d90b3d,
.side_a0 .item_a0,
.description_b89ec7,
.labelDescriptor_b89ec7,
.h5_c46f6a,
.label_c46f6a,
.legend_c46f6a,
.app_a01fb1 button,
.title_d1da5f,
.name_d8bfb3,
.base_d7ebeb .text_d7ebeb,
.overflow_a82120,
.name_fd6364,
.repliedTextPreview_f9f2ca.clickable_f9f2ca,
.executedCommand_f9f2ca .applicationName_d60e66,
.executedCommand_f9f2ca .commandName_f9f2ca,
.executedCommand_f9f2ca .username_f9f2ca,
.repliedMessage_f9f2ca .roleDot_f9f2ca,
.repliedMessage_f9f2ca .username_f9f2ca,
.threadMessageAccessory_f9f2ca .username_f9f2ca,
.cozy_f9f2ca .timestamp_f9f2ca,
.embedAuthor_b0068a,
.embedDescription_b0068a,
.embedFields_b0068a,
.embedFooter_b0068a,
.embedMedia_b0068a,
.embedProvider_b0068a,
.embedTitle-2n1pE,
.overlayBackground_c69a7b * {
  font-size: 14px;
}
